#daemon configuration
 telnet_port 4444
 gdb_port 3333

 
 #interface
 interface ft2232
 ft2232_device_desc "Olimex OpenOCD JTAG A"
 ft2232_layout jtagkey
 jtag_speed 10

 
 #use combined on interfaces or targets that can't set TRST/SRST separately
 reset_config trst_and_srst

 
 #jtag scan chain
 #format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 4 0x1 0xf 0xe
jtag_device 5 0x1 0x1 0x1e

 
 #target configuration
 daemon_startup reset

 
 #target <type> <startup mode>
 #target cortex_m3 <endianness> <reset mode> <chainpos> <variant>
 target cortex_m3 little run_and_halt 0
 run_and_halt_time 0 30

 
# working_area 0 0x20000000 16384 nobackup

 
 #flash bank <driver> <base> <size> <chip_width> <bus_width>
 flash bank stm32x 0x08000000 0x00010000 0 0 0

# 4k working area at base of ram
#working_area 0 0x20000800 0x1200 nobackup
# all ram
working_area 0 0x20000000 0x2000 nobackup

 
 # For more information about the configuration files, take a look at:
 # http://openfacts.berlios.de/index-en.phtml?title=Open On-Chip Debugger

